<% layout('layout/boilerplate.ejs') %>
  
<h3>Logging In</h3>
<form action="/login" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" required placeholder="Enter your email">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" required placeholder="Enter your password">
    </div>

    <button type="submit">Login</button>
</form>